* {
    -webkit-user-drag: none;
}

body {
    margin: 0;
}

.main-content {
    flex-direction: column;
    height: 100vh;
}

.flexer {
    flex: 1;
}

.flex-container {
    display: flex;
}

.center-all {
    justify-content: center;
    align-items: center;
}

/* Colors */
.main-color {
    background-color: #f5f5f5;
}

.primary-font-color {
    color: black;
}

.secondary-font-color {
    color: rgb(19, 19, 19);
}

/* Configuring the main three elements */
.header, .footer {
    flex-grow: 0;
    min-height: 68px;
}

.sketch-area {
    flex-grow: 1; /* make the main content element take over all remaining space */
}

/* Main elements */
.main-box {
    margin: 0 4px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 1px, solid black;
    box-shadow: 0 0 8px black;
}

.main-sketch {
    background-color: white;
    margin: 8px;
    aspect-ratio: 1/1;
    flex-direction: column;
    border: 1px, solid black;
}

.grid-element {
    border: 1px, solid rgb(66, 66, 66);
}

/* Side menu */
.side-panel {
    justify-content: flex-end;
}

.menu {
    flex-direction: column;
    gap: 24px;
    margin-right: 48px;
}

button {
    background-color: white;
    border-radius: 4px;
    min-width: 148px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 400;
}

.color-picker-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

#color-picker {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-color: black;
    padding-block: 0;
    padding-inline: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* Title and footer config */
.main-font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title, .footer-info{
    font-weight: bold;
    font-size: 48px;
}

.footer-info {
    font-weight: 300;
    font-size: 24px;
}